body {font-family: 'Source Sans Pro', Raleway, sans-serif;     text-align: center;}
textarea {
    font-family: Consolas, monospace; 
    background-color: #ffffff;
    font-family: consolas,"courier new",monospace;
    font-size: 15px;
    height: 100%;
    padding: 8px;
    resize: none;
    line-height: normal;
}

h1 {
    text-align: center;
}

.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: inherit;
    font-size: 1em;
}

.btn:hover {
    opacity: 1;
}
